argh==0.26.2
black==21.12b0
bump2version==1.0.1
coverage==6.2
flake8==4.0.1
pip==21.3.1
pytest-runner==5.3.1
pytest==6.2.5
PyYAML==6.0
sphinx-rtd-theme==1.0.0
Sphinx==4.4.0
tox==3.23.0
twine==3.4.1
watchdog==2.0.2
wheel==0.36.2
